@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <div id="tree-container"></div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/d3/d3.min.js"></script>
<link rel="stylesheet" href="~/css/nodeTree.css" />

<script>
    var treeData = @ViewData["json"];
</script>

<script src="~/js/nodeTree.js"></script>