@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
</head>
<body>

    <br/>

    <a href="/Main" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-right"></span>  Go to main page</a>

    <br />

    <hr />

    <div id="tree-container"></div>

</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/d3/d3.min.js"></script>
<link rel="stylesheet" href="~/css/nodeTree.css" />

<script>
    var treeData = @ViewData["json"];
</script>

<script src="~/js/nodeTree.js"></script>