@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<br />

@{
    if (ViewBag.Success)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }
}

<br />

<a href="/Main" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span>  Go to main page</a>