@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<!DOCTYPE html>
<meta charset="utf-8">
<style type="text/css">
    body {
        font: 10px sans-serif;
    }

    .linage {
        fill: none;
        stroke: blue;
        stroke-dasharray: 3, 3;
    }

    .marriage {
        fill: none;
        stroke: darkblue;
        stroke-width: 3px;
    }

    .man {
        background-color: lightblue;
        border: none;
    }

    .woman {
        background-color: lightsalmon;
        border: none;
    }

    .unknown {
        background-color: lightgray;
        border: none;
    }

    .emphasis {
        font-style: italic;
    }

    p {
        padding: 0;
        margin: 3px;
    }
</style>

<script src="~/js/dtree/d3.v3.min.js"></script>
<script src="~/js/dtree/lodash.min.js"></script>
<script src="~/js/dtree/dTree.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<body>
    <h1>@ViewData["Title"]</h1>

    <div id="graph" style="border: 3px solid black"></div>

    <script>

        $(document).ready(function(){

            var treeData = @ViewData["json"];

            var viewerWidth = $(document).width();
            var viewerHeight = $(document).height();

            init(treeData, viewerWidth, viewerHeight);

            function init(treeData, viewerWidth, viewerHeight) {
                console.log("width: " + viewerWidth + ", height: " + viewerHeight);
                dTree.init(treeData, {
                    target: "#graph",
                    debug: true,
                    height: viewerHeight,
                    width: viewerWidth,
                    callbacks: {
                        nodeClick: function(name, extra) {
                            console.log(name);
                        }
                    }
                });
            }

        });
    </script>

</body>
</html>