@using GenealogyWeb.Views
@model GenealogyWeb.Core.Models.Persona

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
<script>
    $(document).ready(function () {

        $('.selectpicker').change(function () {
            var personId = $(this).val();
            addLinks(personId);
        });

        addLinks($('.selectpicker').val());

        function addLinks(personId){
            var url0 = '/data/personById?personId=' + personId;
            var url1 = '/data/deletePerson?personId=' + personId;            
            var url2 = '/data/marriageByPersonId?personId=' + personId;
            var url3 = '/data/persondownwardtree?personId=' + personId;
            var url4 = '/data/personupwardtree?personId=' + personId;            
            $('#links').html('<a href="' + url0 + '">✎ edit person</a> | <a href="' + url1 + '">✗ delete person</a> | <a href="' + url2 + '">✎ edit marriage</a> | <a href="' + url3 + '">🡓 show downward tree</a> | <a href="' + url4 + '">🡑 show upward tree</a>');       
        }

    });
</script>

<body>

    <h2>Person selector</h2>

    <div class="form-group">
        @Html.DropDownListFor(
            m => m.id,
            new SelectList((List<SelectListItem>)ViewBag.persons, "Value", "Text"),
            new
            {
                @class = "form-control selectpicker",
                data_show_subtext = "true",
                data_live_search = "true"
            }
        )
    </div>

    <div id="links"></div>

    <hr/>

    <h2>Full data visualization</h2>

    <div id="tree-container"></div>

</body>


<!-- node tree -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="~/css/nodeTree.css" />

<script>
    var treeData = @ViewBag.json;
</script>

<script src="~/js/nodeTree.js"></script>

<!-- node tree -->